@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700';
@import 'https://fonts.googleapis.com/css?family=Lato:300,400';
/* =================================== */
/*    Globals    */
/* =================================== */

body {
    font-family: "Lato", sans-serif;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Condensed", sans-serif;
}
h1 {
    font-size: 50px;
    line-height: 60px;
}
h2 {
    font-size: 40px;
    line-height: 50px;
}
h3 {
    font-size: 30px;
    line-height: 35px;
}
.section-title:after,
.section-title-left:after {
    content: "";
    display: block;
    width: 50px;
    border-bottom: 2px #efefef solid;
}
.section-title:after {
    margin: 0 auto;
}
.section-title-left:after {
    margin-left: 10px;
}

.section-lead {
    margin-bottom: 30px;
}
section {
    padding: 50px 0;
}
#intro,
#about,
#testimonials,
#contact {
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/* =================================== */
/*    Bootstrap overrides    */
/* =================================== */
.navbar-default {
    transition: all .3s linear;
}

.btn {
    border-radius: 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.control-label {
    color: #fff;
    text-shadow:  2px 2px 2px #333;
}
.form-control {
    background-color: rgba(0,0,0,.6);
    border-radius: 0;
    color: #fff;
}
.form-control:focus {
    border-color: rgba(256,256,256,.8);
}
.control-label {
    font-weight: 300;
}
/* =================================== */
/*    Intro section    */
/* =================================== */
.navbar-intro {
    background-color: transparent;
    border: none;
    transition: all .3s linear;
}
.navbar-intro .navbar-nav > li > a {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
}
.navbar-intro .navbar-nav > li > a:hover,
.navbar-intro .navbar-nav > li > a:active,
.navbar-intro .navbar-nav > li > a:focus {
    color: #afafaf;
}
.navbar-intro .navbar-nav > .active > a {
    background-color: transparent;
    border-bottom: 1px #afafaf solid;
    color: #afafaf;
}
.navbar-intro .navbar-brand {
    color: #fff;
}
/* =================================== */
/*    Intro section    */
/* =================================== */
#intro {
    background-image: url("../images/bg-main.jpg");
    background-position: center center;
    height: 100vh;
    padding: 200px 0;
    padding: 30vh 0;
}
#intro h1,
#intro p {
    color: #fff;
}
.btn-intro {
    border: 2px #fff solid;
    color: #fff;
    background: rgba(0,0,0,.5);
}
.btn-intro:hover,
.btn-intro:focus,
.btn-intro:active {
    background: #fff;
    color: #333;
}
/* =================================== */
/*    Services section    */
/* =================================== */
#services .row {
    padding: 20px 0;
}
.section-lead {
    color: #999;
}
.icon-services {
    float: left;
    font-size: 30px;
    width: 50px;
    color: #999;
    text-align: center;
}
.service-desc {
   overflow: hidden;
    padding-left: 10px;
    border-left: 1px #efefef solid;
}
/* =================================== */
/*    About section    */
/* =================================== */
#about {
    background-image: url("../images/bg-about.jpg");
    background-position: center bottom;
    color: #fff;
}
.about-content {
    background: rgba(0,0,0,.6);
    padding: 30px;
}

/* =================================== */
/*    Pricing section    */
/* =================================== */
.pricing-table {
    -webkit-box-shadow: 8px 8px 0 #999;
    box-shadow: 8px 8px 0 #999;
    position: relative;
    top: 20px;
    margin: 20px auto;
    max-width: 370px;
}

.pricing-table.pricing-featured .pricing-header {
    background: #333;
    color: #fff;
}
.pricing-table.pricing-featured .pricing-header span {
    color: #fff;
}
.pricing-header {
    background: #efefef;
    padding: 20px 0;
    color: #999;
}
.pricing-header span {
    font-size: 3em;
    color: #000;
}
.pricing-body {
    padding: 20px 0;
    border-left: 1px #efefef solid;
    border-right: 1px #efefef solid;
}
.pricing-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.pricing-list li {
    margin: 7px 0;
}
.pricing-list li:before {
    content: "\f375";
    font-family: Ionicons;
    color: #999;
    margin: 0 10px;
}
.btn-pricing {
    background: #efefef;
}
.btn-pricing:hover,
.btn-pricing:active,
.btn-pricing:focus {
    background: #333;
    color: #fff;
}
/* =================================== */
/*    Testimonials section    */
/* =================================== */
#testimonials {
    background-image: url("../images/bg-testimonials.jpg");
    background-position: center bottom;
    color: #fff;
}
#testimonials .section-title,
#testimonials .section-lead {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
.testimonials-content {
    padding: 50px;
    background: rgba(0,0,0,.3);
}
.icon-testimonial {
    font-size: 50px;
}
.testimonial {
    font-size: 17px;
    line-height: 25px;
}
.author {
    font-size: 1.5em;
}
.author .company-name {
    font-size: 0.7em;
    text-transform: uppercase;
    color: #999;
}
/* =================================== */
/*    Blog section    */
/* =================================== */
.blog-post {
    background: #efefef;
    overflow: hidden;
}
.blog-img {
    max-width: 200px;
    float: left;
}
.blog-post-content {
    overflow: hidden;
    padding: 20px;
}
.btn-more {
    color: #333;
    padding: 5px 20px;
    border: 1px #333 solid;
}
.btn-more:hover,
.btn-more:active,
.btn-more:focus {
    background: #333;
    color: #fff;
}
/* =================================== */
/*    Contact section    */
/* =================================== */
#contact {
    background-image: url("../images/bg-contact.jpg");
    background-position: center 30%;
}
#contact .section-title,
#contact .section-lead {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
.btn-submit {
    display: block;
    padding: 10px 50px;
    margin: 0 auto;
    background: rgba(0,0,0,.8);
    color: #fff;
}
.btn-submit:hover,
.btn-submit:active,
.btn-submit:focus {
    background: #fff;
    color: #333;
}
/* =================================== */
/*    Footer    */
/* =================================== */
#footer {
    padding: 10px;
    background: #161616;
    color: #fff;
}
#footer a {
    color: #9a9a9a;
}
/* =================================== */
/*    Media queries    */
/* =================================== */
@media (min-width: 992px) {
    .pricing-table.pricing-featured {
        top: 0;
    }
    .pricing-table.pricing-featured .pricing-header {
        padding: 40px 0;
    }
}
@media (max-width: 991px) {
    .md-margin-bottom-30 {
        margin-bottom: 30px;
    }
    .md-margin-bottom-40 {
        margin-bottom: 40px;
    }
}
@media (max-width: 767px) {
    .navbar-intro .navbar-nav > li > a,
    .navbar-intro .navbar-nav > .active > a {
        background: rgba(0,0,0,.85);
    }
    .navbar-default .navbar-collapse {
        border: none;
    }
    .navbar-intro .navbar-nav > li > a:hover {
        background: #e7e7e7;
        color: #000;
    }
}
@media (max-width: 500px) {
    body {
        font-size: 13px;
    }
    .testimonial {
        font-size: 14px;
        line-height: 20px;
    }
    .testimonials-content {
        padding: 25px;
    }
    .blog-img {
        margin-left: -120px;
    }
    
}
@media (max-width: 400px) {
    .blog-post-content {
        padding: 10px;
    }
}